{% extends 'aplicaciones/base.html' %}
{% load static %}
{%block contenido%}
<link rel="stylesheet" href="{% static 'aplicaciones/css/style.css' %}">
<link rel="stylesheet" href="{% static 'aplicaciones/css/estilovinilos.css' %}">
<main style="margin-top: 13vh; margin-bottom: 285px;">
    <!--AQUI VA TODO LO QUE LE QUEREMOS PONER A NUESTRA PAGINA--> 
        <div class="box" >
            <h1>Buscador de canciones</h1>
            <form id="form" class="purchase-info">
                <input type="search" id="search" placeholder="Ingresa cancion o artista o disco...">
                <button class="btn btn-primary">Buscar</button>
            </form>
        </div>
        <section class="result box" id="result"></section>
    <script type="text/javascript" src="{% static 'aplicaciones/js/api copy.js' %}"></script>
    </main>
    <!-- Footer -->

{%endblock%}