{% extends 'aplicaciones/base.html' %}
{% load static %}
{%block contenido%}

<link rel="stylesheet" href="{% static 'aplicaciones/css/estilo_cards.css' %}">

<main style="margin-top: 70px; "><!-- Fondo mas margen entre menu y main -->
    <!-- Contenido -->
    <!-- Carousel -->
    <div style="padding-top: 30px; padding-bottom: 70px;" id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'aplicaciones/img/carrusel.png' %}" height="220px" alt="Los Angeles" class="d-block"
                    style="width:100%">
            </div>
            <div class="carousel-item">
                <img src="{% static 'aplicaciones/img/carrusel1.png' %}" height="220px" alt="Chicago" class="d-block"
                    style="width:100%">
            </div>
            <div class="carousel-item">
                <img src="{% static 'aplicaciones/img/carrusel2.png' %}" height="220px" alt="New York" class="d-block"
                    style="width:100%">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    <div class="row mt-4">
        <div class="col-xl-4"></div>
        <div class="col-xl-4"></div> 
        <div class="col-xl-3 justify-content-between align-items-center" >
            <form class="d-flex"
            method="GET">
                <input type="text" class="form-control me-2" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar}}">
                <div class="input-group-append">
                    <button style="height: 34px; width: 50px;" class="btn btn-default btn-sm" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
            </form> 
        </div>
    </div>

    <!-- End carusel -->
    <div class="row">
        
        {% for vini in v %}
    
        <div style="display: flex;" class="col-sm-6 col-md-4 col-lg-4 col-xl-3 p-5">
        <div class="card efecto text-center">
            <a href="/detalle/{{vini.id}}/">
            <img class="card-img-top img-fluid no-gif" src=/media/{{vini.cara_delante}}>
            <img class="card-img-top img-fluid gif" src=/media/{{vini.cara_detras}}></a>
            <h3>{{vini.nombre_cantante}} - {{vini.nombre_vinilo}}</h3>
            <p>{{vini.estilo}}</p>
            <div class="precio">${{vini.precio}}</div>
            <br>
            <div class="card-footer purchase-info">
                <a style="background: #6d92ac;" href="{% url 'add' vini.id %}" class="btn">
                    Agregar al carro <i class="fas fa-shopping-cart"></i>
                </a>
                <br>
                <a href="carrito.html"><button type="button" class="btn" ;
                        style="background-color: black;">Comprar</button></a>
            </div>
        </div>
        </div>
            {% endfor %}
        
    </div>
</main>

{%endblock%}