{% extends 'aplicaciones/base.html' %}
{% load static %}
{%block contenido%}
<link rel="stylesheet" href="{% static 'aplicaciones/css/estilo_cards.css' %}">
<main style="margin-top: 100px; "><!-- Fondo mas margen entre menu y main -->
    <div class="row mt-4">
        <div class="col-xl-4"></div>
        <div class="col-xl-4"></div> 
        <div class="col-xl-3 justify-content-between align-items-center" >
            <form class="d-flex"
            method="GET">
                <input type="text" class="form-control me-2" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar}}">
                <div class="input-group-append">
                    <button style="height: 34px; width: 50px;" class="btn btn-default btn-sm" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
            </form> 
        </div>
    </div>

<div class="row">
        
    {% for vini in v %}

    <div style="display: flex;" class="col-sm-6 col-md-4 col-lg-4 col-xl-3 p-5">
    <div class="card efecto text-center">
        <a href="/detalle/{{vini.id}}/">
        <img class="card-img-top img-fluid no-gif" src=/media/{{vini.cara_delante}}>
        <img class="card-img-top img-fluid gif" src=/media/{{vini.cara_detras}}></a>
        <h3>{{vini.nombre_cantante}} - {{vini.nombre_vinilo}}</h3>
        <p>{{vini.estilo}}</p>
        <div class="precio">${{vini.precio}}</div>
        <br>
        <div class="card-footer purchase-info">
            <a style="background: #6d92ac;" href="{% url 'add' vini.id %}" class="btn">
                Agregar al carro <i class="fas fa-shopping-cart"></i>
            </a>
            <br>
            <a href="carrito.html"><button type="button" class="btn" ;
                    style="background-color: black;">Comprar</button></a>
        </div>
    </div>
    </div>
        {% endfor %}
    
</div>

</main>

{%endblock%}