{% extends 'aplicaciones/base.html' %}
{% load static %}
{%block contenido%}
<script src="aplicaciones/js/registro.js"></script>
<link rel="stylesheet" href="{% static 'aplicaciones/css/log.css' %}">
<h1 style="padding-top:10%; margin-bottom:5vh; align-content: center; justify-content: center; display: flex;">Login</h1>
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form | crispy}}
                        
                        
                        <button type="submit" class="butt">Iniciar Sesión</button>
                        <button class="but"><a href="{% url 'iniciocliente' %}" style="text-decoration: none; ">volver</a></button>
                        <button class="but"><a href="{% url 'registro' %}" style="text-decoration: none; ">Registrate</a></button>
                        <button class="butt"><a href="{% url 'iniciosesion' %}" style="text-decoration: none; ">Admin</a></button>

                        

                        
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}