{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vinilos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- Revisar iconos redes sociales -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/n5pm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--CREO QUE SE DEBE ELIMINAR-->
    <link rel="stylesheet" href="{% static 'aplicaciones/css/estilo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- menu -->
    <header style="height: 10vh; ">
        <a href="{% url 'index' %}" class="logo fuente_vinilo" style="text-decoration: none;"><img src="{% static 'aplicaciones/img/vinilo.png' %}"
            height="60px" style="  padding-right: 20px;" alt="Logo"> Vinileins</a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">Menu</label>
        <nav class="navbar">
            <ul class="marg">
                <li> 
                    <a class="fuente_vinilo" style="text-decoration: none" href="{% url 'vinilos' %}">Gestionar vinilos</a>
                </li>
                <li>
                    <a class="fuente_vinilo" style="text-decoration: none" href="{% url 'cliente' %}">Gestionar usuarios</a>
                </li>
                <li>
                    <a class="fuente_vinilo" style="text-decoration: none" href="{% url 'pedidos' %}">Pedidos</a>
                </li>
                <li> <a class="button_perf fuente_vinilo " href="{% url 'iniciocliente' %}">Salir</a></li>
            </ul>

        </nav>
    </header>
    <main style="margin-top: 15vh;">
        <!--AGREGAR POST PARA QUE HAGA LA WEAITA-->
        <form class="row g-3 container d-flex" style="margin: auto;" action="" method="POST" enctype="multipart/form-data" > 
            <h3>Ingresa los datos del Nuevo Administrador</h3>   
            {% csrf_token %} 
            {{ form|crispy}}
            <div class="col-8" >
                <input type="submit" value="Guardar" class="btn btn-success btn-lg" style="margin: 15px;width: 100px;height: 50px;">
                <a href="{% url 'index' %}"><button type="button" class="btn " style="margin: 15px;width: 100px;height: 50px;">Cancelar</button></a>
            </div>
        </form>
    </main>
    <!-- Footer -->
    <footer>
        <div class="contenedor">
            <div class="sobre-mi">
                <h2 class="titulos-footer">Tienda</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At a quos error sapiente asperiores sed
                    non, accusamus quaerat praesentium! Laudantium saepe doloribus aut rem dolore minima. Quibusdam
                    expedita nisi eius.</p>
                <ul class="redes-sociales"><!-- redes sociales -->
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
                    <li><a href="#"><i class="fab fa-tiktok"></i></i></a></li>
                </ul>
            </div>
            <div class="contactanos">
                <h2 class="titulos-footer">Contáctanos</h2>
                <ul class="informacion-contacto">
                    <li>
                        <span><i class="fa-solid fa-location-dot"></i></span>
                        <p>Una direccion random<br> Concepcion, Biobio</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-phone"></i></span>
                        <p>+123456789 <br> +999999999</p>
                    </li>
                    <li>
                        <span><i class="fa-solid fa-envelope"></i></span>
                        <p>correo@duocuc.cl</p>
                    </li>
                </ul>
            </div>
            <div class="navegacion">
                <h2 class="titulos-footer">Medios de pago</h2>
                <li>
                    <i class="fa fa-cc-visa" style="font-size:30px; color:white"></i>
                    <i class="fa fa-cc-mastercard" style="font-size:30px; color:white"></i>
                    <i class="fa fa-cc-amex" style="font-size:30px;color:white"></i>
                    <i class="fa fa-cc-diners-club" style="font-size:30px; color:white"></i>
                </li>
            </div>


        </div>
        <div class="copy">
            Copyright © 2023 Vinilos por 'sopaipillas'
        </div>
    </footer>

</body>

</html>